<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.aimailabs.nexabase.auth.mapper.SysUserTeamMapper">

    <insert id="insertBatch">
        INSERT INTO sys_user_team (user_id, team_id, is_leader) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.teamId}, #{item.isLeader})
        </foreach>
    </insert>

</mapper>
